* {
    box-sizing: border-box;
}

div {
    display: block;
}

.root, body{
    margin: 0;
    padding: 0;
}

.root{
    --font-size: 16px;
    --font-weight: 400;
    --font-family: "Gilroy",sans-serif;
    --plain-text-color: #f0f0f0;
    --input-text-color: #fff;
    --text-highlight-color: var(--input-text-color);
    --input-background-color: transparent;
    --input-inactive-highlight-color: #999;
    --input-active-highlight-color: #9a35ef;
    --input-filled-highlight-color: var(--input-inactive-highlight-color);
    --error-color: #ff5b83;
    --error-color-strong: #e13741;
    --input-invalid-highlight-color: var(--error-color);
    --input-valid-highligh-color: #69dbb1;
    --label-active-color: #999;
    --label-inactive-color: #c8c8c8;
    --button-font-family: var(--font-family);
    --button-font-size: 16px;
    --button-height: 52px;
    --button-line-height: 24px;
    --heading-font-family: var(--font-family);
    --heading-font-size: 32px;
    --heading-font-size-small: 32px;
    --heading-line-height: 40px;
    --heading-font-weight: 300;
    --heading-margin: 19px 0 0;
    --heading-padding: 0;
    --heading-text-align: center;
    --label-font-size: 16px;
    --button-border-radius: 2em;
    --button-background: #7b2abf;
    --button-background-secondary: transparent;
    --button-hover-background-secondary: transparent;
    --button-pressed-background-secondary: transparent;
    --button-hover-background: #9a35ef;
    --button-pressed-background: #9a35ef;
    --button-focused-background: #9a35ef;
    --button-text-color: #fff;
    --button-text-disabled-color: #7f7f7f;
    --button-border: 2px solid transparent;
    --button-border-disabled: 2px solid #7f7f7f;
    --button-background-disabled: transparent;
    --button-border-secondary: 2px solid #fff;
    --button-hover-bg-image: none;
    --button-hover-border-secondary: 2px solid var(--input-active-highlight-color);
    --button-hover-border: 2px solid var(--button-hover-background);
    --button-pressed-border: none;
    --button-focused-border: 1px solid var(--button-focused-background);
    --button-focused-outline: 2px solid var(--input-text-color);
    --button-focused-outline-offset: 2px;
    --button-focused-outline-border-radius: 4px;
    --link-font-weight: var(--font-weight);
    --link-font-family: var(--font-family);
    --link-color: #bac7ff;
    --column-gutter-size: 16px;
    --toast-bg-color: #bac7ff;
    --toast-text-color: #0f0f0f;
    --subtitle-color: var(--input-inactive-highlight-color);
    --tooltip-bg-color: #000;
    --dot-color: #bda3f5;
    --dot-inactive-color: #232323;
    --footer-min-height: 100px;
    --recaptcha-text-color: var(--subtitle-color);
    --screen-top-alignment: 64px;
}

.site_component {
    line-height: 1.25;
    color: #f0f0f0;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

header{
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,.4);
}

.hbo_logo{
    height: 32px;
    width: 190px;
    background-image: url('../hbo-max.svg');
    
}

.button_entrar{
    position: absolute;
    right: 8px;
    top: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.button_entrar_link{
    padding: 8px 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 8px 0 24px;
    margin-left: 4px;
    font-weight: 400;
    color: #bac7ff;
    cursor: pointer;
    text-decoration: none;
}

.tela_component{
    width: 100%;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    min-height: calc(100vh - 64px - 100px);
    display: flex;
    flex-direction: column;
}

.spacing_component{
    padding: 32px 16px;
}

.tela_spacing{
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.telaConteudo_component{
    max-width: 950px;
    min-width: 280px;
    margin: 0 auto;
}

.steps{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 13px;
    text-transform: uppercase;
    white-space: nowrap;
}

.steps_step{
    padding: 0 10px;
}

.screen_title{
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin: 19px 0 0;
    padding: 0;
    text-align: center;
}

.paragraph_component{
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 16px 0;
}